<configuration debug="false">

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %-5relative %date{ISO8601} [%-10thread] %class.%method\(%line\) - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
