<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">

<!-- Console -->
<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%6.6p %d [%t] %C.%M(%L) %m%n"/>
    </layout>
</appender>

<logger name="org.apache.openejb">
    <level value ="info"/>
</logger>

<root>
    <level value ="warn"/>
    <appender-ref ref="STDOUT" />
</root>

</log4j:configuration>
