<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

	<!-- One of the way of activating REST Servises is adding these lines, the server is responsible for adding the corresponding servlet automatically. -->
	<!-- If the src folder, org.jboss.as.quickstarts.rshelloworld.HelloWorld class has the Annotations to receive REST invocation -->
	<!-- <servlet-mapping> <servlet-name>javax.ws.rs.core.Application</servlet-name> <url-pattern>/rest/*</url-pattern> </servlet-mapping> -->


<!-- 	<listener> -->
<!-- 		<listener-class>de.lbe.sandbox.tomcat.weld.WeldListener</listener-class> -->
<!-- 	</listener> -->

<!-- 	<listener> -->
<!-- 		<listener-class>de.lbe.sandbox.tomcat.weld.BeanManagerResourceBindingListener</listener-class> -->
<!-- 	</listener> -->

	<!-- <servlet> -->
	<!-- <servlet-name>Jersey Web Application</servlet-name> -->
	<!-- <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class> -->

	<!-- <init-param> -->
	<!-- <param-name>javax.ws.rs.Application</param-name> -->
	<!-- <param-value>de.lbe.sandbox.tomcat.testapp.MyRestApplication</param-value> -->
	<!-- </init-param> -->
	<!-- <load-on-startup>1</load-on-startup> -->
	<!-- </servlet> -->

	<!-- <servlet> -->
	<!-- <servlet-name>de.lbe.sandbox.tomcat.testapp.MyRestApplication</servlet-name> -->
	<!-- <load-on-startup>1</load-on-startup> -->
	<!-- </servlet> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>de.lbe.sandbox.tomcat.testapp.MyRestApplication</servlet-name> -->
	<!-- <url-pattern>/resources</url-pattern> -->
	<!-- </servlet-mapping> -->

	<!-- <filter> -->
	<!-- <filter-name>lars</filter-name> -->
	<!-- <filter-class>de.lbe.sandbox.tomcat.testapp.TestFilter</filter-class> -->
	<!-- </filter> -->
	<!-- <filter-mapping> -->
	<!-- <filter-name>lars</filter-name> -->
	<!-- <url-pattern>/*</url-pattern> -->
	<!-- </filter-mapping> -->

	<!-- <resource-env-ref> -->

	<!-- <resource-env-ref-name>BeanManager</resource-env-ref-name> -->

	<!-- <resource-env-ref-type> -->

	<!-- javax.enterprise.inject.spi.BeanManager -->

	<!-- </resource-env-ref-type> -->

	<!-- </resource-env-ref> -->



<!-- 	<resource-env-ref> -->

<!-- 		<resource-env-ref-name>BeanManager</resource-env-ref-name> -->

<!-- 		<resource-env-ref-type>javax.enterprise.inject.spi.BeanManager</resource-env-ref-type> -->
<!-- 	</resource-env-ref> -->


</web-app>